<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Total Cost</title>
	<script src="angular.min.js"></script>
</head>
<body>
	<div ng-app="" >
	<input type="text" ng-model="quantity">
	<input type="text" ng-model="cost">
	<p>Total in dollar: {{quantity*cost}}</p>
	</div>
</body>
</html>